<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='registerpage/css/style.css')}}">
    <title>Cadastro Feed Pet</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{{ url_for('static', filename='registerpage/images/cat.svg')}}">
        </div>
        <div class="form">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastre-se</h1>
                </div>
                <div class="login-button">
                    <button><a href="{{ url_for('landing.landing_page')}}">Entrar</a></button>
                </div>
            </div>

            <form action="{{ url_for('landing.inserir_usuario') }}" method='POST'>
                <div class="input-group">
                    <div class="input-box">
                        <label for="nome">Primeiro nome</label>
                        <input id="nome" type="text" name="nome" placeholder="Digite seu primeiro nome" required>
                    </div>

                    <div class="input-box">
                        <label for="sobrenome">Sobrenome</label>
                        <input id="sobrenome" type="text" name="sobrenome" placeholder="Digite seu sobrenome" required>
                    </div>

                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>

                    <div class="input-box">
                        <label for="celular">Celular</label>
                        <input id="celular" type="tel" name="celular" placeholder="(xx)xxxxx-xxxx" required>
                    </div>

                    <div class="input-box">
                        <label for="senha">Senha</label>
                        <input id="senha" type="password" name="senha" placeholder="Digite sua senha" required>
                    </div>
                    <!--
                    <div class="input-box">
                        <label for="password">Confirme sua senha</label>
                        <input id="password" type="password" name="Confirmpassword" placeholder="Confirme sua senha"
                            required>
                    </div>
                -->
                </div>
                <div class="continue-button">
                    <button type="submit"><a>Registrar</a></button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>